@import url("reset.css");

.color-main { color: #7A296A }
.color-fore-light { color: #B77AAB }
.color-fore-dark { color: #3D0031 }

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    padding: 0;
    margin: 0;
}

header {
    padding: 0.5em;
    margin: 0 0 1em 0;
    line-height: 2em;
    font-size: 145%;

    background-color: #7A296A;
    background: linear-gradient(to right, rgba(35, 32, 102, 1), rgba(233, 29, 14, 1));
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

.acctPanel {
    flex: 1;
    padding: 0;
    margin: 1em;
    border: solid 1px #333;
}

.panelHeader {
    background-color: #591F4E; /* Crap blue/red mix */
    color: white;
    font-weight: bold;
    font-size: 115%;
    padding: 1em;
    margin: 0;
}

.lefty {
    background-color: #232066;
    background-color: rgba(35, 32, 102, 1);
}

.righty {
    background-color: #E91D0E;
    background-color: rgba(233, 29, 14, 1);
}

.panelBody {
    padding: 1em;
}

footer {
    border-top: solid 1px #333;
    color: #3D0031;
    line-height: 1.25em;
    padding: 1em;
    font-size: 90%;
    margin-top: 2.5em;
}

/* Responsive */

@media screen and (min-width: 768px) {
    body {
        padding: 0 5% 0 5%;
    }

    .container {
        max-width: 98%;
        flex-direction: row;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .acctPanel {
        flex-basis: 40%;
    }
}
